* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    overflow:hidden;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin:0;
    padding:0;
    overflow:scroll;
    background:#888;
}

.hidden{
    display:none;
}

.maxsize{
    width:1280px;
    height:752px;
    overflow:hidden;
}

#game-stage, #page-nav, #page-texture{
    position:absolute;
    top:0;
    left:0;
}

#game-stage{
    background:beige;
}

#page-texture{
    pointer-events:none;
    z-index:100;
}

.btn{
    position:absolute;
    /*TODO - Replace with actual button styles*/
    bottom:30px;
    padding:20px;
    background:#fff;
}

#btn-prev{
    left:30px;
}

#btn-next{
    right:30px;
}
